.discover-page-container {
   padding-top: 70px;
   width: 100%;
}

.discover-container {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto 1fr;
   gap: 1rem;
   height: calc(100vh - 56px);
   padding: 1rem;
   background-color: #f9fafb;
}

.search-container {
   grid-column: 1 / span 2;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 0;
}

.map-container {
   grid-row: 2;
   grid-column: 1;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
   background-color: white;
   height: 100%;
}

.description-container {
   grid-row: 2;
   grid-column: 2;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
   background-color: white;
   height: 100%;
   padding: 0;
   /* Remove padding as it's applied to the card inside */
}

.image-carousel {
   display: flex;
   overflow-x: auto;
   gap: 1rem;
   padding: 1rem 0;
   margin: 1rem 0;
}

.image-card {
   position: relative;
   min-width: 300px;
   margin: 0 10px;
}

.carousel-image {
   height: 200px;
   border-radius: 8px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.image-caption {
   position: absolute;
   bottom: 0;
   background: rgba(0, 0, 0, 0.7);
   color: white;
   width: 100%;
   padding: 8px;
   font-size: 0.9em;
   border-radius: 0 0 8px 8px;
}

.image-carousel img {
   height: 80px;
   flex-shrink: 0;
   border-radius: 0.25rem;
   object-fit: cover;
}


/* Responsive layout */
@media (max-width: 768px) {
   .discover-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr;
      height: auto;
      min-height: calc(100vh - 56px);
   }

   .map-container,
   .description-container {
      grid-column: 1;
      height: 50vh;
   }

   .map-container {
      grid-row: 2;
   }

   .description-container {
      grid-row: 3;
   }
}